h1{
	color: green;
}

#rightColumn{
	background-color:#2F4F4F;
	color:white;
	height:100%;

}
#leftColumn{
	background-color:#B4CDCD;
	height:100%;
}
.pagination-centered{
	text-align: center;
	margin-left:150px 
}

#margin{
	margin-left: 10px;
	margin-top: 10px;
}