h1{
	color: green;
}

#rightColumn{
	background-color:#680000;
	color:white;
	height:100%;

}
#leftColumn{
	background-color:#000000;
	height:100%;

}
.pagination-centered{
	text-align: center;
	margin-left:150px; 
}

.paddingness{
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 15px;
}
.one{
	color:gray;

}
.blue{
	color:blue;

}
#booton{
	background-color:yellow;
	 
}
#jim{
	background-color:#0000FF;
	color:white;
}

#jjim{
	background-color: #0000FF;
	color:white;

}