h1{
	color: white;
}

h3{
	color:white;
}
#nav{
	width:93.24%;

}

#three{
	background-color:#54BF83;
	margin-left: 47px;
	margin-right: 40px;
}




#topContainer{
	background-color:#54BF83;
	height:10%;
	width:93.24%;
} 


#leftColumn{
	background-color:#1763A6;
	height:120%;
	margin-left:27px; 

}
#rightColumn{
	background-color:#419CA6;
	height:120%;

}
.pagination-centered{
	text-align: center;
	margin-left:150px; 
} 

.paddingness{
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 15px;
}

.paddingnesss{
	margin-left: 45px;
	margin-top: 10px;
	margin-right: 15px;
}
.one{
	color:white;

}
.blue{
	color:blue;

}
#booton{
	background-color:yellow;
	 
}
#jim{
	background-color:#0000FF;
	color:white;
} 

#jjim{
	background-color: #0000FF;
	color:white;

}
#jjjim{
	float:right;

}
#jjjjim{
	float: left;
}
.lSide{
	float:left;
	margin-left: 100px;

}
.rSide{
	float:right;
	margin-right:100px;
}
.barneyStintson{
	background-image:url('/images/moonWalk.jpg');
	
background-repeat:no-repeat;
height:350px;
color:white;
}
.