h1{
	color: green;
}

h3{
	color:white;
}

#rightColumn{
	background-color:#680000;
	color:white;
	height:100%;

}
#leftColumn{
	background-color:#000000;
	height:100%;

}
.pagination-centered{
	text-align: center;
	margin-left:150px; 
} 

.paddingness{
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 15px;
}

.paddingnesss{
	margin-left: 45px;
	margin-top: 10px;
	margin-right: 15px;
}
.one{
	color:white;

}
.blue{
	color:blue;

}
#booton{
	background-color:yellow;
	 
}
#jim{
	background-color:#0000FF;
	color:white;
} 

#jjim{
	background-color: #0000FF;
	color:white;

}
#jjjim{
	float:right;

}
#jjjjim{
	float: left;
}
.lSide{
	float:left;
	margin-left: 100px;
}
.rSide{
	float:right;
}
.barneyStintson{
	background-image:url('/images/moonWalk.jpg');
	
background-repeat:no-repeat;
height:350px;
color:white;
}