h1{
	color: green;
}

#rightColumn{
	background-color:#2F4F4F;
	color:white;
	height:100%;

}
#leftColumn{
	background-color:#B4CDCD;
	height:100%;
}
.pagination-centered{
	text-align: center;
 
}

.paddingness{
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 15px;
}
.one{
	color:gray;

}